.contentTxt h2{
    text-transform:uppercase;
    text-align:left;
    margin-left:30px;
    padding-bottom:10px;
    margin-top: 5em;
  }
  .contentTxt h3{
    text-align:left;
    margin-left:30px;
  }
