//* {
//	margin: 0;
//	padding: 0;
//	box-sizing: border-box;
//}

//body {
//	display: flex;
//	justify-content: center;
//	align-items: center;
//	min-height: 100vh;
//	background-color: #0d192e;
//}

.container {
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	height: 600px;
	background-color: #122647;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	.img__bx {
		position: relative;
		width: 50%;
		height: 100%;
		overflow: hidden;
	}

	.img__bx:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ff5064;
		transform-origin: bottom;
		transform: skewX(-25deg) translateX((10%));
	}

	.img__bx img {
		position: absolute;
		bottom: 0;
		height: 95%;
		width: 100%;

	}
}

.container .form__bx form {
	position: relative;
	width: 100%;
	padding: 0 0 0 75px;
	background-color: #122647;

	h2 {
		color: #fff;
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 40px;
	}

	.input__box {
		position: relative;
		margin-bottom: 40px;
	}

	.input__box:last-child {
		margin-bottom: 0px;
	}

	.input__box input,
	.input__box textarea {
		position: relative;
		background: transparent;
		outline: none;
		border: none;
		width: 100%;
		color: #fff;
		padding-bottom: 10px;
		font-size: 16px;
		letter-spacing: 1px;
		font-weight: 300;
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		resize: none;
	}

	.input__box textarea {
		height: 100px;
	}

	.input__box input[type="submit"] {
		background-color: #fff;
		padding: 8px 20px;
		margin-top: -10px;
		width: 100px;
		cursor: pointer;
		background-color: #ff5064;
		color: #fff;
		font-size: 18px;
		border: none;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	.input__box input[type="submit"]:focus {
		background-color: #1bfaad;
		color: #111;
	}

	.input__box span {
		position: absolute;
		left: 0;
		font-size: 16px;
		font-weight: 300;
		display: inline-block;
		pointer-events: none;
		letter-spacing: 1px;
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.2s;
	}
}

.container .form__bx form .input__box input:focus~span,
.container .form__bx form .input__box textarea:focus~span,
.container .form__bx form .input__box input:valid~span,
.container .form__bx form .input__box textarea:valid~span {
	transform: translateY(-24px);
	color: #1bfaad;
	font: size 14px;
}

.container .form__bx form .input__box input:focus,
.container .form__bx form .input__box textarea:focus,
.container .form__bx form .input__box input:valid,
.container .form__bx form .input__box textarea:valid {
	border-bottom-color: #fff;
}

@media screen and (max-width: 991px) {
	.container .form__bx {
		width: 100%;
		padding: 0 50px;
	}

	.container .form__bx form {
		position: relative;
		width: 100%;
		max-width: 500px;
		padding: 0;
	}

	.container .img__bx {
		display: none;
	}
}
