.nav {
    
    display: flex;
    flex-wrap: wrap;
    ul {
        display: flex;
        padding: 15px;
       flex-basis: 100%;
       flex-wrap: wrap;
       justify-content: space-evenly;
    }
    li {
        list-style: none;
       min-width: 200px;
    }
    a {
        justify-items: center;
        text-decoration: none;
    }
    a:hover {
        
        text-decoration: underline;
        padding: 10px;
        border-radius: 15px;
    }
}
