.For__Me {
  display: flex;
  flex-direction: column;
}
.captioned_gallery {
  width: 100%;
  overflow: hidden;

  height: 384px;
}
figure {
  //background: #101010;
}
.sliderSecond {
  animation: slideSecond 30s infinite;
}
.sliderSecond {
  position: relative;
  width: 500%;
  font-size: 0;
  display: flex;
  flex-direction: row;
  height: 300px;

  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );

  figure {
    width: 20%;
    height: auto;
    display: flex;
    position: inherit;
    justify-content: center;
  }
  .imgSlider {
    width: 15%;
    border-radius: 80%;
    height: 30%;
    align-self: center;
    padding: 2px;
  }
  figure figcaption {
    position: relative;

    //background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 50%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.6rem;
  }
}

.about__Me {
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
  position: relative;

  align-items: center;
  justify-content: center;
  .say {
    align-self: center;
  }
}

//? ANIMATION

@keyframes slideSecond {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
    background-color: red;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
